*   {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #000000;
    line-height: 1.6;
}

/* todo lo del hero es del HEADER */
.hero{
    background-color: rgb(120, 146, 179);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.hero h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: normal;
}

.hero p {
    margin-top: 20px;
}


.btn{
    font-size: 22px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.8s ease;
    margin-right: 50px;
}

.btn:hover {
    color: #ffffff;
    background-color:rgb(120, 146, 179) ;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-3px);
    transition: all 0.8s ease;


}

section { 
    padding: 50px 20px;
    max-width: 700px;
    margin :auto;
    text-align: center;
}

/* todo lo de SECTION */

.project-card {
    transition: all 0.3s ease;
}
.project-card:hover {
    color: #ffffff;
    background-color: rgb(120, 146, 179);
    margin: auto;
    padding: 20px;;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-3px);
    transition: all 0.5s ease;

}




section h3 {
    text-align: left;
    margin-top: 50px;
}
section h4 {
    color: black;
}

section p {
    color: black;
}
.about article {
    padding: 20px 8px;
    border-radius: 8px;
    text-align: justify;
}

.projects h3 {
    margin-bottom: 20px;
}

.projects article {
    background-color: white;
    padding:  20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects span {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(160, 156, 156);
    margin-bottom: 20px;
}

footer {
    padding: 20px 20px;
    color: white;
    font-weight: normal;
    text-align: center;
    background-color: rgb(120, 146, 179);
}

.project-card img { 
    width: 1px;
    height: 1px;
    object-fit: cover;
    opacity: 0;
    align-self: center;


}

.project-card:hover article img{
    width: 600px;
    height: 600px;
    opacity: 1;
    object-fit: cover;
    transition: all 0.7s ease;
    
}
