*   {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f4f6f8;
    color: #000000;
    line-height: 1.6;
}


/* todo lo del hero es del HEADER */
.hero{
    color: white;
    padding: 200px 60px;
    text-align: center;
    background-image: url(../img/code.png);
    background-attachment: fixed;
    background-size: cover;
    background-color: #000B;
    background-blend-mode: darken;
    background-position: center;
}

body.img {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.hero h1 {
    font-size: 4rem;
}

.hero h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: normal;
}

.hero p {
    margin-top: 20px;
}


.btn{
    font-size: 22px;
    width: 100%;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.8s ease;
    margin-right: 50px;
    align-items: center;
    
}

@media (min-width: 769px) {
.btn:hover {
    color: #ffffff;
    background-color:#1c1d21 ;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-3px);
    transition: all 0.8s ease;

}
}

section { 
    padding: 50px 20px;
    max-width: 750px;
    margin :auto;
    text-align: center;
}

/* todo lo de SECTION */



.project-card:hover {
    color: #ffffff;
    background: #1c1d21;
    margin: auto;
    padding: 20px;;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transform: translateY(-3px);
    transition: all 0.5s ease;

}

.project-card:hover {
    background: #1c1d21; /* casi transparente */

    transform: translateY(-3px);
}


.projects-links {
    display: flex;
    gap: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.projects-links  a{
    padding: 8px 16px;
    background-color: #1c1d21;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}

.projects-links a:hover {
    background-color: #333;
}

section h3 {
    text-align: left;
    margin-top: 50px;
}
section h4 {
    color: black;
}

section p {
    color: black;
    text-align: justify;
}
.about article {
    padding: 20px 8px;
    border-radius: 8px;
    text-align: justify;
}

.projects h3 {
    margin-bottom: 20px;
}

.projects article {
    background-color: white;
    padding:  20px 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projects span {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #1c1d21;
    margin-bottom: 20px;
}

footer {
    padding: 20px 20px;
    color: white;
    font-weight: normal;
    text-align: center;
    background-color: #1c1d21;
}

.project-card img { 
    width: 1px;
    height: 1px;
    object-fit: cover;
    opacity: 0;
    align-self: center;

}

/* RESPONSIVE telf */
.project-card img {
    width: 100%;
    height: auto;
    opacity: 1;
    margin-top: 15px;
    border-radius: 8px;
    display: block;
}
@media (max-width: 768px) {
.project-card {
    color: #ffffff;
    background-color: #1c1d21;
    margin: auto;
    padding: 20px;;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    margin-top: 20px;
}
}

/* RESPONSIVE pc */
@media (min-width: 769px) {

.project-card img {
        width: 1px;
        height: 1px;
        opacity: 0;
    }

.project-card:hover article img {
        width: 600px;
        height: 600px;
        opacity: 1;
        transition: all 0.6s ease;
    }
}

@media (min-width: 769px) {


    .btn {
    font-size: 22px;
    width: auto;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.8s ease;
    align-items: center;
    }
}

.project-card {
    transition: all 0.5s ease;
    position: relative;
    z-index: 1;
}








